/* Font */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "VT323", monospace;
}

body,
.snake {
  background-color: #414141;
}

#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

.game-border-1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
  border: #abb78a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
  border: #8b966c solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #8b966c;
}

#instruction-text {
  position: absolute;
  top: 60%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
  z-index: 10;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #abb78a;
}

#high-score {
  color: #d8ddca;
  display: none;
}

#score,
#high-score {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

.game-border-3,
#logo {
  background-color: #c4cfa3;
}

.snake {
  border: #5a5a5a 1px dotted;
}

.food {
  background-color: #dedede;
  border: #999 5px solid;
}

#logo {
  position: absolute;
}

/* Animation */
@keyframes retro-flicker {
  0% {
    opacity: 1;
    text-shadow: 0 0 5px #abb78a, 0 0 10px #d8ddca, 0 0 20px #8b966c;
  }
  25% {
    opacity: 0.8;
    text-shadow: 0 0 3px #8b966c, 0 0 6px #abb78a, 0 0 12px #d8ddca;
  }
  50% {
    opacity: 0.6;
    text-shadow: 0 0 2px #595f43, 0 0 4px #8b966c, 0 0 8px #abb78a;
  }
  75% {
    opacity: 0.8;
    text-shadow: 0 0 3px #8b966c, 0 0 6px #abb78a, 0 0 12px #d8ddca;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 5px #abb78a, 0 0 10px #d8ddca, 0 0 20px #8b966c;
  }
}

.flashing-text {
  font-family: "VT323", monospace;
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #abb78a;
  animation: retro-flicker 1.2s infinite alternate;
}
